{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <a href="http://www.isi.rnu.tn/Fr/accueil_46_4"><img class="card-img-top" src="./static/isi.png"></a>
                <div class="card-body">
                    <h4 class="card-title">Institut Supérieur d´Informatique</h4>
                    <p class="card-text">With love Farah Cherif</p>
                </div>
            </div>
        </div>
        </div>
        </div>
        
{% endblock content %}